.header {
  width: 50%;
  height: 70px;
  background-color: rgb(3, 198, 252);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerText {
  color: rgb(255, 255, 255);
  padding-left: 5%;
  font-size: 20px;
  padding-left: 27%;
}

@media screen and (max-width: 650px) {
  
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerText {
    font-size: 30px;
    padding-left: 0;
  }
}
